Project01/workflow.json
{"name":"Daily Motivation Bot","nodes":[{"parameters":{"rule":{"interval":1,"unit":"days","hour":8,"minute":0}},"id":"Cron","name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[250,300]},{"parameters":{"url":"https://api.quotable.io/random","responseFormat":"json"},"id":"HTTP_Request","name":"Get Quote","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[500,300]},{"parameters":{"chatId":"7744729798:AAEbgPwx7Lfpkd9LvjfHT6vttJp4AdyqGVU","text":"{{\"🌞 Good Morning!\\n💡 \\\"\" + $json.content + \"\\\" — \" + $json.author}}"},"id":"Telegram","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1,"credentials":{"telegramApi":"YOUR_TELEGRAM_CREDENTIAL_ID"},"position":[750,300]}],"connections":{"Cron":{"main":[[{"node":"Get Quote","type":"main","index":0}]]},"Get Quote":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"active":true,"settings":{},"id":"DailyMotivationBot"}
